.form-container {
  text-transform: capitalize;
  background-color: #171b1f;
  color: antiquewhite;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-container input {
  width: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.submit-btn {
  width: 150px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  background-color: #417052 !important;
  color: antiquewhite !important;
  border: black !important;
}

.submit-btn:hover {
  background-color: #347a4e !important;
}

.submit-btn .playstation-icon {
  font-size: 20px;
}
